html {
  background: rgb(255, 163, 246);
  background: linear-gradient(
    90deg,
    rgba(255, 163, 246, 0.2) 0%,
    rgba(255, 110, 243, 0.3) 0%,
    rgba(139, 0, 255, 0.1) 100%
  );
}

header {
  backdrop-filter: blur(20px);
}

.material-card {
  background-image: linear-gradient(90deg, transparent, transparent);
  -webkit-transition: background-image 600ms ease-in-out;
  -moz-transition: background-image 600ms ease-in-out;
  -o-transition: background-image 600ms ease-in-out;
  transition: background-image 600ms ease-in-out;
}

.detail-card {
  background-image: linear-gradient(
    90deg,
    rgba(236, 163, 255, 0.6) 0%,
    rgba(255, 110, 190, 0.6) 100%
  );
}

.material-card:hover {
  background-image: linear-gradient(
    90deg,
    rgba(236, 163, 255, 0.6) 0%,
    rgba(255, 110, 190, 0.6) 100%
  );
}

.material-card img {
  transition: transform 100ms ease-in-out;
}

.material-card:hover img {
  transform: scale(1.05);
}
